/* global style */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
}

/* button-style */

button {

    background-color: #E95A08;
    border: 1px solid #E95A08;
    color: #fafafa;
    font-family: 'Noto Serif', serif;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    padding: 15px;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background-color: #fafafa;
    color: #E95A08;
    border: 1px solid #E95A08;
    cursor: pointer;
}

/* font-style */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Serif', serif;
    text-transform: capitalize;
    line-height: 1.25em;
    margin: 0;
}

h1 {
    font-size: 65px;
    font-weight: 700;
    color: #E95A08;
}

h2 {
    font-size: 50px;
    font-weight: 700;
    color: #E95A08;
}

h3 {
    font-size: 30px;
    font-weight: 500;
    color: #0e0e0e;
}

h4 {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5em;
    color: #737373;
}

h5 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5em;
    color: #0e0e0e;
}

h6 {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    color: #0e0e0e;
}